{# src/Acme/SiteBundle/Resources/views/Page/register.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}Login{% endblock%}

{% block body %}
    <header>



<div class="container">
        <h1>Register</h1>

{{ form_start(form) }}


   
{{ form_widget(form) }}


  <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me" required checked>Accept terms of use
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>

{{ form_end(form) }}

</div>

    
{% endblock %}