{# src/Acme/SiteBundle/Resources/views/Page/solution.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}Solution{% endblock%}

{% block body %}
    <header>
        <h1 style="text-align:center;">Smart content</h1>

        <h2 style="text-align:center;"> A complete solution to manage digital asset </h2>




    <div class="container text-center">    

  <div class="row">
    <div class="col-sm-4">

    <h3> ALPHA LAYER Content</h3>
    <ul>

<li>Interactive video</li>
<li>Documentary</li>
<li>live broadcast</li>
<li>Key visual</li>

    
</ul>

    


   
    </div>
    <div class="col-sm-4"> 

       <h3> ALPHA LAYER Tech </h3>

                  <ul>
<li>EXPERIENCE WEBSITE</li>
<li>BRAND WEBSITE</li>
<li>SEO / SEM</li>
<li>E-COMMERCE</li>
<li>MOBILE APP</li>
<li>GAMIFICATION</li>




    </ul>
    
 
    </div>
    <div class="col-sm-4">


         <h3> ALPHA LAYER Social </h3>
         <ul>
<li>SNS STRATEGY</li>
<li>ACTIVATION CAMPAIGN</li>
<li>TRENDING HIJACK</li>
<li>E-PR</li>
<li>COMMUNITY MANAGEMENT</li>

    </ul>
    


      </div>
    </div>
  </div>
</div><br>

    
 
    






{% endblock %}